// Global definitions
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family : 'rails';
  src : url('./resources/fonts/Raleway-Regular.ttf')
}
$theme-colors : (
  blueish : #0099ff,
  yellowish : #ffe277,
  orangeish : #ffb367,
  creamish : #ffe2bc
  );

$spacing : (
  space-1 : 0.5rem,
  space-2 : 1.0rem,
  space-3 : 1.5rem,
  space-4 : 2.0rem,
  space-5 : 2.5rem,
  max : 5rem
);

.background-center {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo {
  display: block;
  margin: auto;
  margin-top: -5em;
  margin-bottom: 2em;
}

// Main Page
header {
  background: map-get($theme-colors, blueish);
  padding: map-get($spacing, space-3);
  color: white;
  text-align: center;
  h1 {
    font-size: 250%;
    font-family: 'rails', sans-serif;
  }
  span {
    font-weight: bold;
    font-family: 'Helvetica';
  }
}

// About Component
#about-wrapper {
  max-width: 500px;
  margin: auto;
  margin-bottom: map-get($spacing, max);
  .about-heading {
    font-family: 'rails', sans-serif;
    text-align: center;
    background: map-get($theme-colors, blueish);
    border-radius: 4px;
    padding: map-get($spacing, space-2);
    color: white;
  }
  p {
    color: rgba(0, 0, 0, 0.8);
    background: map-get($theme-colors, creamish);
    padding: 1em;
    line-height: map-get($spacing, space-3);
    text-align: left;
    margin-top: map-get($spacing, space-2);
    font-family: sans-serif;
  }

}

// Generator
#generator-wrapper {
  text-align: center;
  margin-bottom: map-get($spacing, space-2);

  #password-output {
    width: 250px;
    padding: map-get($spacing, space-2);
    background: map-get($theme-colors, creamish);
    margin: auto;
    position: relative;
    input {
      width: 100%;
      outline: none;
      border: none;
      text-align: center;
      background: map-get($theme-colors, creamish);
      font-size: 100%;
      font-family: 'Helvetica';
      font-weight: bold;
    }
    img {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 24px;
      height: 24px;
      float: right;
      &:hover {cursor: pointer;}
    }
  }

  .button-wrapper {
    margin: map-get($spacing, space-4);
    button {
      width: 150px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      color: white;
      background: map-get($theme-colors, blueish);
      padding: map-get($spacing, space-1);
      margin: 0 map-get($spacing, space-1) 0 map-get($spacing, space-1);
      box-shadow: 2px 5px 5px #ccc;
      transition: all .2s;
      font-size: 120%;
      font-family: 'rails';
      &:focus {
        outline: none;
      }
      &:hover {
        padding: .8em;
        border-radius: 0;
        cursor: pointer;
      }
    }
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width:  100%;
  text-align: center;
  color: white;
  padding: map-get($spacing, space-2);
  background: map-get($theme-colors, blueish);
}
